<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>SAIKA</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="instagram-access-token" content="">
    <meta name="description" content="カウンセリングとアロマを融合した自己成長と人間関係改善のカウンセリングサービス。カラーセラピー・心理学・推命学を活用し、あなたの悩みを解消し、自分を変えるお手伝いをします。">
    <meta name="keywords" content="カウンセリング, アロマ, 調香師, 自己成長, 人間関係改善, カラーセラピー, 心理学, 推命学, キャメス, ヒーリング, コミュニケーションシステム">
    <link rel="icon" type="image/png" href="https://iconbu.com/wp-content/uploads/2020/01/%E3%82%B7%E3%83%A5%E3%83%8A%E3%82%A6%E3%82%B6%E3%83%BC%E3%81%AE%E3%82%A4%E3%83%A9%E3%82%B9%E3%83%88.jpg">



    <% csrf_meta_tags %>
    <% csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>

  <body class = "main">
    <header class="header">
      <div class="title">
        <p class="title-nav">
         <%= link_to "心のメンテナンスsalon",saikas_path %>
        </p>
        <h1 class="main-title">
         <%= link_to "SAIKA",saikas_path %>
        </h1>
      </div>

          <!-- ハンバーガーメニューアイコン -->
        <div class="burger-btn">
            <span class="bar bar_top "></span>
            <span class="bar bar_middle "></span>
            <span class="bar bar_bottom "></span>
        </div>

      <script>
       $(document).ready(function(){
    $(`.burger-btn`).on("click",function(){
        $(`.burger-btn`).toggleClass(`cross`);
        $(`.contents-nav`).fadeToggle(100);
    })
})

      </script>

      <ul class="contents-nav">
        <li class="content">
          <%= link_to "about",about_saikas_path %>
        </li>
        <li class="content">
          <%= link_to "serivce",service_saikas_path %>
        </li>
       <li class="content">
        <a href="https://www.camesjapan.com/" target="_blank">キャメスとは</a>
        </li>
        <li class="content">
          <a href="https://ameblo.jp/chi-harusora" target="_blank">blog</a>
        </li>
        <li class="content">
          <%= link_to "contact", new_contact_path %>
        </li>
        <li class="content">
          <%= link_to"ご予約", reservations_path %>
          <ul class="dropdown__lists">
              <li class="dropdown__list">
                <%= link_to "予約確認", check_reservations_path %>
              </li>
          </ul>
        </li>
        <li class content>
         <a href="https://instagram.com/chihiro_851?igshid=MzNlNGNkZWQ4Mg==" target="_blank">
           <img class="instagram-icon" src="/images/Instagram_Glyph_Gradient copy.png" alt="Instagram">
         </a>
        </li>
      </ul>
    </header>



    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

 

    <div class="contents">
      <%= breadcrumbs separator: " &rsaquo; " %> 
      <%= yield %>
    </div>

    <footer class="footer">
    <div class="addres">
      <div class="addres-imag">
        <img class ="fotter-addres-image"src="/images/23731698.jpg" alt="addres">
      </div>
      <p class="addres-main">
        salon住所:長野県佐久市<br>（＊詳細はご予約時にお伝えします。）
      </p>
    </div>
    <div class="copy">zaka©</div>
    </footer>
  </body>


  
</html>
