<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>SAIKA</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="instagram-access-token" content="">
    <% csrf_meta_tags %>
    <% csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>

  <body class = "main">
    <header class="header">
      <div class="title">
        <p class="title-nav">
         <%= link_to "心のメンテナンスsalon",saikas_path %>
        </p>
        <h1 class="main-title">
         <%= link_to "SAIKA",saikas_path %>
        </h1>
      </div>
          <!-- ハンバーガーメニューアイコン -->
      <div class="menu-icon">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <ul class="contents-nav">
        <li class="content">
          <%= link_to "about",about_saikas_path %>
        </li>
        <li class="content">
        <ul class="contents-nav">
        <li class="content">
          <%= link_to "serivce",service_saikas_path %>
        </li>
        <li class="content">
          <a href="https://www.camesjapan.com/">キャメスとは</a>
        </li>
        <li class="content">
          <a href="https://ameblo.jp/chi-harusora">blog</a>
        </li>
        <li class="content">
          <a href="#">contact</a>
        </li>
        <li class="content">
          <%= link_to"ご予約", reservations_path %>
          <ul class="dropdown__lists">
              <li class="dropdown__list">
                <%= link_to "予約確認", check_reservations_path %>
              </li>
          </ul>
        </li>
        <li class content>
         <a href="https://instagram.com/chihiro_851?igshid=MzNlNGNkZWQ4Mg==" target="_blank">
           <img class="instagram-icon" src="/images/Instagram_Glyph_Gradient copy.png" alt="Instagram">
         </a>
        </li>
      </ul>
    </header>



    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
 
    <div class="contents">
      <%= yield %>
    </div>

    <footer class="footer">
    <div class="addres">
      <div class="addres-imag">
        <img class ="fotter-addres-image"src="/images/23731698.jpg" alt="addres">
      </div>
      <p class="addres-main">
        salon住所:長野県佐久市（＊詳細はご予約時にお伝えします。）
      </p>
    </div>
    <div class="copy">zaka©</div>
    </footer>
  </body>


  
</html>
